<div id="validacion">
    <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
            <h1 style="display: flex;
            align-items: center;
            justify-content: center; ">Tabla Actualizada</h1>
            <hr class="mx-n3">
            
            <div class="px-5 py-4" style="display: flex;
            align-items: center;
            justify-content: center;
            ">
              
              <button type="submit" class="btn btn-primary btn-lg" onclick="closeForm()">Cerrar</button>
            </div>

          </div>
        </div>
  </div>
    </div>
    </div>
  </div>